.Main {
  position: relative;
  z-index: -1;

  &-seccion1 {
    position: relative;
    top: -20px;
    width: 100%;
    max-width: 69.625rem;
    padding: 10.9556rem 0.9688rem 0 0.9688rem;
    background: url("images/Rectangle2.svg") no-repeat center;
    background-size: cover;
    margin-bottom: 3.75rem;
  }

  &-ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  &-li:nth-last-child(-n + 1) {
    margin-bottom: 4.4819rem;
  }
  &-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

  &-ul-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }

  &-ul-article-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 3rem;
    height: 2.875rem;
    border-radius: 6.25rem;
    border: 0.0625rem solid var(--Davys-Grey);
  }

  &-el-hidden {
    transition: 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(8rem);
  }

  &-ul-article-number {
    font-family: var(--tipo-secundaria);
    font-size: 1.25rem;
    color: var(--Dark-Purple);
  }

  &-ul-article-h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-family: var(--tipo-secundaria);
    color: var(--Dark-Purple);
    margin-bottom: 1rem;
  }

  &-ul-article-p {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
    color: var(--Davys-Grey);
  }

  &-seccion2 {
    position: relative;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.9688rem;
    max-width: 69.625rem;
    height: 37.6875rem;
  }

  &-seccion2-figure {
    width: 17.5625rem;
  }

  &-seccion2-article {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-Purple);
    padding: 2rem 1.9688rem;
  }

  &-pattern3 {
    width: 10.8125rem;
    position: absolute;
    display: none;
  }

  &-seccion2-h3 {
    font-size: 2rem;
    font-family: var(--tipo-secundaria);
    color: var(--White);
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  &-seccion2-p {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--White);
  }

  @media (37.5rem <= width <= 52.125rem) {
    &-seccion1 {
      padding-top: 12.735rem;
    }
    &-ul {
      gap: 3rem;
    }

    &-li {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
    &-ul-article-circle {
      align-self: flex-end;
    }

    &-ul-article {
      align-items: flex-start;
      max-width: 30.8125rem;
      gap: 1rem;
    }

    &-pattern3 {
      bottom: 3%;
      right: 10%;
      display: block;
    }

    &-ul-article-p {
      text-align: left;
    }

    &-seccion2-figure {
      align-self: flex-start;
    }

    &-seccion2-article {
      top: -22%;
      left: 9%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      max-width: 32.125rem;
      padding: 3rem 3.5313rem;
    }

    &-seccion2-h3 {
      text-align: left;
      font-size: 3rem;
      line-height: 56px;
      margin-bottom: 1rem;
    }
    &-seccion2-p {
      text-align: left;
    }
  }
}
