.Header {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 30.1069rem;
  background-image: url("../../images/Rectangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-pattern,
  &-pattern2 {
    position: absolute;
    display: none;
  }

  &-pattern {
    width: 16.875rem;
  }

  &-pattern2 {
    width: 8.8125rem;
  }

  &-section {
    padding: 2rem 0.9688rem 0;
    max-width: 69.625rem;
  }

  &-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.875rem;
  }
  &-h1 {
    margin-bottom: 2.5rem;
    max-width: 21.4375rem;
    text-align: center;
    font-family: var(--tipo-secundaria);
    font-size: 3.125rem;
    color: var(--White);
  }

  &-article-span {
    position: relative;
    font-size: inherit;
    text-align: center;
    color: currentColor;
    letter-spacing: 0.0625rem;
    border-bottom: 0.1875rem solid var(--Eucaplyptus);
  }

  &-figure {
    display: flex;
    justify-content: center;
    margin-top: 3.875rem;
  }

  &-hero {
    width: 18.305rem;
  }

  @media (37.5rem <= width <= 52.125rem) {
    & {
      height: 33.765rem;
    }

    &-article {
      margin-top: 3.5rem;
    }

    &-pattern {
      display: block;
      left: -22%;
      top: 20%;
    }

    &-section {
      padding: 2.3125rem 0.9688rem 0;
      max-width: 69.625rem;
    }

    &-pattern2 {
      display: block;
      left: 91.5%;
      top: 60%;
    }

    &-h1 {
      margin-bottom: 2.4375rem;
      max-width: 403px;
      font-size: 3.75rem;
    }

    //

    &-hero {
      width: 29.4025rem;
    }
  }

  @media (52.125rem <= width) {
    & {
      display: flex;
      // width: 100%;
      justify-content: center;
      height: 45.625rem;
    }

    &-article {
      margin-top: 3.4375rem;
    }

    &-pattern {
      display: block;
      left: -8.5%;
      top: 20%;
    }

    &-pattern2 {
      display: block;
      left: 92%;
      top: 50%;
    }

    &-section {
      width: 100%;
    }

    &-h1 {
      margin-bottom: 2.3125rem;
      max-width: 38.75rem;
      font-size: 5rem;
    }

    &-figure {
      margin-top: 3.125rem;
    }

    &-hero {
      width: 47.9375rem;
    }
  }
}
